
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin,latin-ext);


/* #PAGE STYLES */

#preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 999999;
}

#status {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	background-image: url(../images/preload.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -100px;
}


/* #Navigation
================================================== */





.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	z-index:1002;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 0px 0px 50px 150px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 10px;
	left: 20px;
	z-index: 100;
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #cfcfcf;
	font-size: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #cfcfcf;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-300%);
	transform: translateY(-300%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(300%);
	transform: translateY(300%);
}

.bt-menu ul {
	position: fixed;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bt-menu ul:first-of-type {
	top: 75px;
	left: 0;
}

.bt-menu ul:nth-of-type(2) {
	right: 0;
	bottom: 0;
}

.bt-menu ul li,
.bt-menu ul li a {
	display: block;
}

.bt-menu ul:nth-of-type(2) li {
	float: left;
	font-size: 0px;
}

.bt-menu ul li {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
	transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
}

.bt-menu.bt-menu-open ul:first-of-type li,
.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	visibility: visible;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s 0.1s;
	transition: transform 0.3s, opacity 0.3s;
}

/* First menu */
.bt-menu ul:first-of-type li {
	width: 150px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: translate3d(-100%,50%,0);
	transform: translate3d(-100%,50%,0);
}

.bt-menu.bt-menu-open ul:first-of-type li {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Second menu */
.bt-menu ul:nth-of-type(2) li {
	width: 60px;
	height: 50px;
	line-height: 50px;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:first-child { 
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(2) { 
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(3) { 
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li:nth-child(4) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.bt-menu.bt-menu-open ul:nth-of-type(2) li {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.bt-menu ul li a {
	display: block;
	outline: none;
	text-decoration: none;
}

.bt-menu ul:first-of-type li a {
	padding: 0 20px;
	box-shadow: inset 0 1px rgba(0,0,0,0.2);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .7em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.2), inset 0 -1px rgba(0,0,0,0.2);
}

.bt-menu ul:nth-of-type(2) li a {
	color: transparent;
	text-align: center;
	font-size: 0px;
}

.bt-menu ul li a:before {
	color: #fff;
	font-size: 24px;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul:first-of-type li a:hover,
.bt-menu ul:first-of-type li a:focus,
.bt-menu ul li a:hover:before,
.bt-menu ul li a:focus:before {
	color: #ccc;
}


/* #Home
================================================== */

#home{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	z-index:2;
}




/* #Slider
================================================== */



#gallery {
position: absolute;
width: 100%;
height: 700px;
top: 0;
left: 0;
}
#controls div {
}
#controls div:hover:not(.counter) {
}
#controls div:not(.counter) {
}
#controls div.sel {
}	
.prev {
	top:50%;
	margin-top:-20px;
	position:absolute;
	cursor:pointer;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:40px 40px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	left:20px;
	width:40px;
	height:40px;
	z-index:100000;
}
.next {
	top:50%;
	margin-top:-20px;
	position:absolute;
	cursor:pointer;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:40px 40px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
	right:20px;
	width:40px;
	height:40px;
	z-index:100000;
}

			
			
			
.prev:hover, .next:hover {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.prev:active, .next:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}




.social-top{ 
	position:absolute;
	top:34%;
	margin-top:-140px;
	left:53%;
	margin-left:-470px;
	z-index:1002;
	height:30px;
}
.list-social li {
    padding:0; 
    list-style: none;
	text-align:center; 
	width:30px;
    display: inline-block;
	background:#e6e6e6;
	cursor:pointer;
	margin-left:2px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}

.list-social li.icon-soc a {
	font-family: 'FontAwesome';
	font-size: 12px;
	line-height: 30px;
	width:30px;
	color: #323232; 
	margin:0;
	padding:0;
}
.list-social li:hover{
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.list-social li:hover.icon-soc a{
}


.logo{
	position:absolute;
	background:url('../images/logo.png') no-repeat center center;
	background-size:150px 120px;
	width:150px;
	left:55%;
	margin-left: 233px;
	top:-58px;
	height:120px;
	z-index: 1000;
}


.home-text {
	position:absolute;
	width:960px;
	margin-left:-480px;
	padding-top:100px;
	border:1px solid #e6e6e6;
	left:50%;
	top:33%;
	margin-top:-120px;
	height:323px;
	z-index:1000;
}

.home-text h1 {
	font-size: 50px; 
	line-height:50px;
	vertical-align:text-top;
	color:#e6e6e6;
}
.home-text h2 {
	font-family: 'Lato', sans-serif;
	color:#e6e6e6;
	font-size: 26px; 
	line-height:26px;
	font-weight: 400;
	padding-top:14px;
}

.link-home {
	position:absolute;
	width:100%;
	top:50%;
	text-align:center;
	margin-top:100px;
	z-index:1001;
}
.link-home a {
	position: relative;
	display: inline-block;
	outline:rgba(255,255,255,.8) solid 1px;
	outline: none;
	color: #e6e6e6;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: .9em;
}
.cl-effect-8 a {
	padding: 5px 17px;
	margin: 0 10px;
	z-index:2;
}

.cl-effect-8 a::before,
.cl-effect-8 a::after  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #e6e6e6;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-8 a::after  {
	border-color: #e6e6e6;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.cl-effect-8 a:hover::before,
.cl-effect-8 a:focus::before {
	opacity: 0;
	-webkit-transform: translateY(15px) translateX(-15px);
	-moz-transform: translateY(15px) translateX(-15px);
	transform: translateY(15px) translateX(-15px);
}

.cl-effect-8 a:hover::after,
.cl-effect-8 a:focus::after  {
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}	

.link-home a:hover,
.link-home a:focus {
	outline: none;
}

/* #Portfolio
================================================== */

#folio{
	position: relative; 
	width: 100%;
	padding-bottom:40px;
}
#folio h1{
	padding-top:40px;
}


.sep{
	position:relative;
	margin:0 auto;
	width:40px;
    border-top:1px solid rgba(0,0,0,.3);
}
.sub-text{
	position:relative;
	width: 100%;
}
.sub-text p{
	text-align:center;
	font-size: 16px;
	line-height:24px;
	color:#808080;
}

.bb-bookblock {
  width: 400px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bb-page {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

.bb-vertical .bb-page {
  width: 50%;
  height: 100%;
  left: 50%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
}

.bb-horizontal .bb-page {
  width: 100%;
  height: 50%;
  top: 50%;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  transform-origin: center top;
}

.bb-page > div,
.bb-outer,
.bb-content,
.bb-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
}

.bb-vertical .bb-content {
  width: 200%;
}

.bb-horizontal .bb-content {
  height: 200%;
}

.bb-page > div {
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bb-page > div:not(:only-child) {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bb-vertical .bb-back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.bb-horizontal .bb-back {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.bb-outer {
  width: 100%;
  overflow: hidden;
  z-index: 999;
}

.bb-overlay, 
.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.bb-flipoverlay {
  background-color: rgba(0, 0, 0, 0.2);
}

/* */

.bb-bookblock.bb-vertical > div.bb-page:first-child,
.bb-bookblock.bb-vertical > div.bb-page:first-child .bb-back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.bb-bookblock.bb-horizontal > div.bb-page:first-child,
.bb-bookblock.bb-horizontal > div.bb-page:first-child .bb-back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* Content display */
.bb-vertical .bb-front .bb-content {
  left: -100%;
}

.bb-horizontal .bb-front .bb-content {
  top: -100%;
}

/* Flipping classes */
.bb-vertical .bb-flip-next,
.bb-vertical .bb-flip-initial {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.bb-vertical .bb-flip-prev {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.bb-horizontal .bb-flip-next,
.bb-horizontal .bb-flip-initial {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.bb-horizontal .bb-flip-prev {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.bb-vertical .bb-flip-next-end {
  -webkit-transform: rotateY(-15deg);
  -moz-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}

.bb-vertical .bb-flip-prev-end {
  -webkit-transform: rotateY(-165deg);
  -moz-transform: rotateY(-165deg);
  transform: rotateY(-165deg);
}

.bb-horizontal .bb-flip-next-end {
  -webkit-transform: rotateX(15deg);
  -moz-transform: rotateX(15deg);
  transform: rotateX(15deg);
}

.bb-horizontal .bb-flip-prev-end {
  -webkit-transform: rotateX(165deg);
  -moz-transform: rotateX(165deg);
  transform: rotateX(165deg);
}

.bb-item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #fff;
}

/* No JS */
.no-js .bb-bookblock, 
.no-js ul.bb-custom-grid li {
  width: auto;
  height: auto;
}

.no-js .bb-item {
  display: block;
  position: relative;
}

html,
body,
.container1 {
    width: 100%;
}

body {
    overflow: hidden;
}

.container.hide-overflow { overflow: hidden }

.main {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.bookshelf {
    position: relative;
    list-style: none;
    text-align: center;
}

.bookshelf figure {
    position: relative;
    display: inline-block;
    margin: 30px 0 0 0;
    padding: 15px 0;
    max-width: 75%;
    width: 324px;
    vertical-align: top;
}

/* Perspectiv wrapper, figure and book */

.perspective {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1800px;
    perspective: 1800px;
}

.book {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 260px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.book div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cover {
    z-index: 10;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.cover::before {
    position: absolute;
    left: 0;
    z-index: 10;
    visibility: hidden;
    width: 20px;
    height: 100%;
    content: '';
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.inner {
    background-color: #606060;
}

.bookshelf .book .inner-left {
    border-right: none;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.inner-right { border-left: none }

/* Buttons and figcaption */

.buttons {
    margin-top: 5px;
    text-align: center;
}

.buttons a {
    display: inline-block;
    padding: 0 8px;
    color: rgba(100, 105, 106, 0.7);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.65em;
    line-height: 1.5;
}

.buttons a:first-child:not(:only-child) { border-right: 1px solid rgba(100, 105, 106, 0.3) }

.buttons a:hover,
.buttons a:active { color: #64696a }

.bookshelf figcaption {
    position: relative;
    top: 100%;
    padding: 0 2em;
    text-align: center;
}

.bookshelf figcaption h2 {
    margin: .2em 0 0 0;
    font-weight: 300;
    font-size: 1.4em;
    font-family: "Abril Fatface", serif;
}

.bookshelf figcaption h2 span {
    position: relative;
    display: block;
    margin: .2em 0 0 0;
    padding: .2em 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 0.5em;
		font-family: 'OpenSans-Light-webfont';
}

.bookshelf figcaption h2 span::before,
.details ul li:first-child::after {
    position: absolute;
    top: 0;
    left: 40%;
    width: 20%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
}

/* Details panel */

.details {
    position: absolute;
    top: 0;
    width: 100%;
}

.details ul {
    margin: 0;
    padding: 60px 30px 0 30px;
    list-style: none;
    text-align: left;
}

.csstransformspreserve3d .details ul { padding: 60px 30px 0 70px }

.details ul li {
    margin: 0 0 10px;
    font-weight: 300;
}

.details ul li:not(:first-child) { font-weight: 400 }

.details ul li:first-child {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
    text-align: justify;
}

.details ul li:first-child::after {
    top: 100%;
    left: 0;
}

.close-details {
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
    width: 20px;
    height: 20px;
    font-size: 0;
    opacity: 0.6;
    cursor: pointer;
}

.details-open .close-details { visibility: visible }

.close-details:hover { opacity: 1 }

.close-details::before,
.close-details::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #333;
    content: '';
}

.close-details::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close-details::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Custom BookBlock */

.bb-custom-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    width: 100%;
    height: 100%;
}

.bb-custom-wrapper::before,
.bb-custom-wrapper::after {
    position: absolute;
    top: 0;
    z-index: 10;
    width: 10px;
    height: 100%;
    background: -webkit-linear-gradient(left, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
    background: linear-gradient(to right, #dddddd 33.33%, #f0f0f0 33.33%, #f0f0f0 66.66%, white 66.66%);
    background-size: 3px 100%;
    content: '';
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bb-custom-wrapper::before { left: 0 }

.bb-custom-wrapper::after { right: 0 }

.bb-custom-wrapper .bb-bookblock {
    width: 100%;
    height: 100%;
    -webkit-perspective: 2000px;
    perspective: 2000px;
}

.bb-custom-side {
    position: relative;
    float: left;
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.bb-custom-side::before {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 80px;
    height: 100%;
    box-shadow: inset 30px 0 40px -20px rgba(0, 0, 0, 0.1);
    content: '';
}

.bb-custom-side:first-child::before {
    right: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.05), inset -30px 0 40px -20px rgba(0, 0, 0, 0.15);
}

.page-layout-1 h3,
.page-layout-1 p {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    max-width: 260px;
    width: 100%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.page-layout-1 h3 {
    text-align: center;
    font-weight: 400;
    font-size: 3em;
    font-family: "Sacramento", serif;
}

.page-layout-1 h3 span {
    display: block;
    padding: 5px 0 15px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-transform: uppercase;
    font-size: 3em;
    font-family: "Six Caps", sans-serif;
    line-height: 1;
}

.page-layout-1 p {
    padding: 0 10px;
    text-align: right;
    font-style: italic;
}

.page-layout-2 {
    background: -webkit-linear-gradient(left, #64696a 50%, white 50%);
    background: linear-gradient(to right, #64696a 50%, white 50%);
}

.page-layout-2:first-child {
    background: -webkit-linear-gradient(left, white 50%, #64696a 50%);
    background: linear-gradient(to right, white 50%, #64696a 50%);
}

.page-layout-2 div {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0 10% 10%;
    width: 50%;
}

.page-layout-2 div:first-child { left: 0 }

.page-layout-2:first-child div:last-child,
.page-layout-2:last-child div:first-child { color: #fff }

.page-layout-2 h3 {
    margin: 0;
}

.image-background1{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/1.jpg) no-repeat center center;
    background-size: cover;
}
.image-background2{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/2.jpg) no-repeat center center;
    background-size: cover;
}
.image-background3{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/3.jpg) no-repeat center center;
    background-size: cover;
}
.image-background4{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/5.jpg) no-repeat center center;
    background-size: cover;
}
.image-background5{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/6.jpg) no-repeat center center;
    background-size: cover;
}
.image-background6{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/8.jpg) no-repeat center center;
    background-size: cover;
}
.image-background7{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/9.jpg) no-repeat center center;
    background-size: cover;
}
.image-background8{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/10.jpg) no-repeat center center;
    background-size: cover;
}
.image-background9{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/12.jpg) no-repeat center center;
    background-size: cover;
}
.image-background10{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/13.jpg) no-repeat center center;
    background-size: cover;
}
.image-background11{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/15.jpg) no-repeat center center;
    background-size: cover;
}
.image-background12{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/16.jpg) no-repeat center center;
    background-size: cover;
}
.image-background13{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/18.jpg) no-repeat center center;
    background-size: cover;
}
.image-background14{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/19.jpg) no-repeat center center;
    background-size: cover;
}
.image-background15{
    position: absolute;
    right: 10%;
	left:10%;
	bottom:3%;
	top:3%;
    background: url(../images/gallery/20.jpg) no-repeat center center;
    background-size: cover;
}








.page-layout-3 div { padding: 10% }

.page-layout-3 h3 {
    margin: 0;
    text-transform: uppercase;
    font-size: 4em;
	text-align:left;
}

.page-layout-3 p {
	padding-top:10px;
    margin: 0;
    font-style: italic;
}

/* Book navigation */

.bb-custom-wrapper > nav a {
    position: absolute;
    z-index: 1000;
    font-size: 0;
    opacity: 0.4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bb-custom-wrapper > nav a:hover { opacity: 1 }

.bb-custom-wrapper > nav a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(221, 221, 221, 0.7);
}

.bb-nav-prev,
.bb-nav-next {
    top: 50%;
    left: 25px;
    margin-top: -15px;
}

.bb-nav-close {
    top: 15px;
    right: 25px;
}

.bb-nav-next {
    right: 25px;
    left: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.bb-custom-wrapper > nav a::before,
.bb-custom-wrapper > nav a::after {
    position: absolute;
    top: 0;
    left: 25%;
    width: 1px;
    height: 50%;
    background: #333;
    content: '';
}

.bb-custom-wrapper > nav a.bb-nav-close::before,
.bb-custom-wrapper > nav a.bb-nav-close::after {
    top: 15%;
    left: 50%;
    height: 70%;
}

.bb-custom-wrapper > nav a:not(.bb-nav-close)::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.bb-custom-wrapper > nav a:not(.bb-nav-close)::after {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bb-custom-wrapper > nav a.bb-nav-close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bb-custom-wrapper > nav a.bb-nav-close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/****** Custom book colors and borders *****/

/* Custom book covers */

.no-csstransforms3d .book[data-book="book-1"],
.no-js .book[data-book="book-1"],
.book[data-book="book-1"] .front {
    background: url(../images/gallery/4.jpg) no-repeat center center;
	background-size:260px 200px;
}





.no-csstransforms3d .book[data-book="book-2"],
.no-js .book[data-book="book-2"],
.book[data-book="book-2"] .front {
    background: url(../images/gallery/7.jpg) no-repeat center center;
	background-size:260px 200px;
}




.no-csstransforms3d .book[data-book="book-3"],
.no-js .book[data-book="book-3"],
.book[data-book="book-3"] .front {
    background: url(../images/gallery/11.jpg) no-repeat center center;
	background-size:260px 200px;
}




.no-csstransforms3d .book[data-book="book-4"],
.no-js .book[data-book="book-4"],
.book[data-book="book-4"] .front {
    background: url(../images/gallery/14.jpg) no-repeat center center;
	background-size:260px 200px;
}




.no-csstransforms3d .book[data-book="book-5"],
.no-js .book[data-book="book-5"],
.book[data-book="book-5"] .front {
    background: url(../images/gallery/17.jpg) no-repeat center center;
	background-size:260px 200px;
}




.no-csstransforms3d .book[data-book="book-6"],
.no-js .book[data-book="book-6"],
.book[data-book="book-6"] .front {
    background: url(../images/gallery/21.jpg) no-repeat center center;
	background-size:260px 200px;
}







/****** Transitions ******/

/* Book open / view inside */

.book {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.3s 0.3s;
    transition: transform 0.5s, opacity 0.3s 0.3s;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

.csstransformspreserve3d .bookshelf figure.open .cover {
    -webkit-animation: openSmallBook 0.5s forwards;
    animation: openSmallBook 0.5s forwards;
}

.csstransformspreserve3d .bookshelf figure.close .cover {
    -webkit-animation: closeSmallBook 0.5s forwards;
    animation: closeSmallBook 0.5s forwards;
}

@-webkit-keyframes openSmallBook { 
  55%,
  100% { -webkit-transform: rotateY(-180deg) }
}

@keyframes openSmallBook { 
  55%,
  100% { transform: rotateY(-180deg) }
}

@-webkit-keyframes closeSmallBook { 
  0%,
  45% { -webkit-transform: rotateY(-180deg) }

  100% { -webkit-transform: rotateY(0deg) }
}

@keyframes closeSmallBook { 
  0%,
  45% { transform: rotateY(-180deg) }

  100% { transform: rotateY(0deg) }
}

.bookshelf figure.open .book {
    z-index: 1000;
    -webkit-animation: scaleUpSmallBook 0.5s forwards;
    animation: scaleUpSmallBook 0.5s forwards;
}

.bookshelf figure.close .book {
    -webkit-animation: scaleDownSmallBook 0.5s forwards;
    animation: scaleDownSmallBook 0.5s forwards;
}

@-webkit-keyframes scaleUpSmallBook { 
  85%,
  100% { -webkit-transform: scale(1.4) }
}

@keyframes scaleUpSmallBook { 
  85%,
  100% { transform: scale(1.4) }
}

@-webkit-keyframes scaleDownSmallBook { 
  0%,
  15% { -webkit-transform: scale(1.4) }

  100% { -webkit-transform: scale(1) }
}

@keyframes scaleDownSmallBook { 
  0%,
  15% { transform: scale(1.4) }

  100% { transform: scale(1) }
}

.inner-right {
    -webkit-transition: background-color 0.5s 0.25s;
    transition: background-color 0.5s 0.25s;
}

.open .inner-right {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.bb-custom-wrapper {
    z-index: 2000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0s 0.5s;
    transition: visibility 0s 0.5s;
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.bb-custom-wrapper.show {
    visibility: visible;
    -webkit-transition: visibility 0s;
    transition: visibility 0s;
    -webkit-animation: openBigBook 0.5s forwards;
    animation: openBigBook 0.5s forwards;
}

.no-cssanimations .bb-custom-wrapper.show { opacity: 1 }

.bb-custom-wrapper.hide {
    -webkit-animation: closeBigBook 0.5s forwards;
    animation: closeBigBook 0.5s forwards;
}

.no-cssanimations .bb-custom-wrapper.hide { opacity: 0 }

@-webkit-keyframes openBigBook { 
  45% {
      opacity: 0;
      -webkit-transform: scale(0.95);
  }

  85% { opacity: 1 }

  100% {
      opacity: 1;
      -webkit-transform: scale(1);
  }
}

@keyframes openBigBook { 
  45% {
      opacity: 0;
      transform: scale(0.95);
  }

  85% { opacity: 1 }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@-webkit-keyframes closeBigBook { 
  0%,
  15% {
      opacity: 1;
      -webkit-transform: scale(1);
  }

  55%,
  100% {
      opacity: 0;
      -webkit-transform: scale(0.95);
  }
}

@keyframes closeBigBook { 
  0%,
  15% {
      opacity: 1;
      transform: scale(1);
  }

  55%,
  100% {
      opacity: 0;
      transform: scale(0.95);
  }
}

/* Details open / view details */

.bookshelf figure {
    z-index: 100;
    -webkit-transition: z-index 0s 0.3s;
    transition: z-index 0s 0.3s;
}

.bookshelf figure.details-open {
    z-index: 101;
    -webkit-transition: none;
    transition: none;
}

.csstransformspreserve3d .details-open .book {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(-20px) rotateY(85deg);
    transform: translateX(-20px) rotateY(85deg);
}

.no-csstransformspreserve3d .details-open .book {
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 0;
}

.csstransformspreserve3d .cover::before {
    -webkit-transition: visibility 0s 0.5s;
    transition: visibility 0s 0.5s;
}

.csstransformspreserve3d .details-open .cover::before {
    visibility: visible;
    -webkit-transition: none;
    transition: none;
}

.details {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.details-open .details {
    visibility: hidden;
    opacity: 1;
    z-index: 10;
    -webkit-transition: opacity 0.5s, visibility 0s;
    transition: opacity 0.5s, visibility 0s;
}

.details ul li {
    visibility: visible;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transform: translateX(30%);
    transform: translateX(30%);
}

.details-open .details ul li:first-child {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
	
}

.details-open .details ul li:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.details-open .details ul li:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.details-open .details ul li:nth-child(4) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.details-open .details ul li {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

/* Details background */

.bookshelf figure::before {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
}

.bookshelf figure.details-open::before {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s, visibility 0s;
    transition: opacity 0.3s, visibility 0s;
}

/* Overlay when viewing details */

.bookshelf figure::after {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: rgba(51, 51, 51, 0.1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, height 0s 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bookshelf figure.details-open::after {
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

/* Media Queries */

@media screen and (max-width: 68.75em) { 
  .bb-custom-wrapper { font-size: 75% }

  .page-layout-3 h3 { font-size: 3em }
}

@media screen and (max-width: 41.375em) { 
  .bb-custom-wrapper { font-size: 60% }

  .page-layout-3 h3 { font-size: 2em }
}

@media screen and (max-width: 29.75em) { 
  .bb-custom-wrapper { font-size: 40% }

  .page-layout-2 div {
      top: 50%;
      left: 0;
      width: 100%;
      height: 50%;
  }

  .page-layout-2 div:first-child { top: 0 }

  .page-layout-2 {
      background: -webkit-linear-gradient(top, #64696a 50%, white 50%);
      background: linear-gradient(to bottom, #64696a 50%, white 50%);
  }

  .page-layout-2:first-child {
      background: -webkit-linear-gradient(top, white 50%, #64696a 50%);
      background: linear-gradient(to bottom, white 50%, #64696a 50%);
  }
}

@media screen and (max-width: 26.3125em) { 
  .details-open .book {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
  }
}






/* #About Us
================================================== */
#about{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:60px;
	background:#fff;
	z-index:2;
}
#about h1{
	padding-top:40px;
}
.team-sec{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-top:40px;
}
.team-sec img{
	width: 100%;
	height:auto;
	display:block;
}

.team-sec .team-name{
	position: absolute;
	width:100%;
	left:0;
	bottom:-25px;
	z-index:1005;
	height:70px;
	background:rgba(255,255,255,.8);
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.team-sec:hover .team-name{
	bottom:0;
}
.team-sec .team-name h6{
	padding-top:10px;
	text-transform:uppercase;
	font-size:19px;
}
.team-sec .team-name p{
	text-align:center;
	padding-top:5px;
}










.team-sec .social-about{ 
	position:absolute;
	top:-50px;
	left:0;
	width:100%;
	text-align:center;
	z-index:1002;
	height:30px;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.team-sec:hover .social-about{
	top:50px;
}
.about-social li {
    padding:0; 
    list-style: none;
	text-align:center; 
	width:30px;
    display: inline-block;
	cursor:pointer;
	margin-left:2px;
}

.about-social li.icon-about a {
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 30px;
	width:30px;
	color: #f5f5f5; 
	margin:0;
	padding:0;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.about-social li.icon-about a:hover{
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}




/* #Contact
================================================== */


#contact{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-bottom:60px;
	z-index:2;
}

#contact h1{
	padding-top:40px;
}
#contact h6{
	padding-bottom:30px;
	text-align:left;
}
.contact-det{
	position: relative; 
	width: 100%;
}
.contact-det p{
	text-align:left;
}
.contact-det a{
	color:#414141;
}
.contact-det a:hover{
	color:#707070;
	cursor:pointer;
}
.padding-top{
	padding-top:40px;
}
.contact-grid{
	position: relative; 
	width: 100%;
	overflow:hidden;
	padding-top:40px;
}


	#ajax-form {
		width: 100%;
		font: 14px/22px 'OpenSans-Light-webfont';
	color:#7a7a7a;
	margin:0 auto;
	}
	label {
		display: block;
		font: 16px/34px 'OpenSans-Light-webfont';
	}
	input{
		width: 96%;
		border:none;
		background:#fafafa;
		margin-bottom:10px;
		font: 16px/22px 'OpenSans-Light-webfont';
		padding-top: 10px;
		padding-bottom: 10px;
	}
	textarea {
		width:96%;
		background:#fafafa;
		font: 16px/22px 'OpenSans-Light-webfont';
		height:120px;
		margin-top:2px;
		padding-top: 10px;
		padding-bottom: 10px;
		border:none;
	}
	.error {
		font: 16px/22px 'OpenSans-Light-webfont';
		display: none;
		color:#414141;
	}
	#ajaxsuccess {
		background: #f5f5f5;
		color:#000;
		font: 20px/60px 'OpenSans-Light-webfont';
		height:60px;
		display: none;
		padding-left:10px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}
	#button-con {
	position:relative;
	text-align:center;
		width: 100%;
	margin:0 auto;
	margin-top:10px;
	}
#button-con button{
	width:100%;
	height:40px;
	padding-top:0;
	margin:0 auto;
	text-align:center;
	font-family: 'OpenSans-Light-webfont';
	font-size: 13px;
	line-height:40px;
	color:#fff;
	background: rgba(0,0,0,.5);
	text-transform:uppercase;
 }
#button-con button:hover{
	background: #fff;
	color:rgba(0,0,0,.5);
 }
.text-align-center{
	text-align:center;
	padding-top:10px;
 }
	#ajax-form textarea:active,
	#ajax-form input:active {	
	  color: #333333;
	outline:1px solid rgba(100,100,100,.1);}
	#ajax-form textarea:active,
	#ajax-form input:hover {	
	  color: #333333;
	outline:1px solid rgba(100,100,100,.1);}
	#ajax-form textarea,
	#ajax-form input {	
	  color: #333333;
	outline:1px solid rgba(100,100,100,.1);}

#ajax-form input[type="text"]{
	padding-left:2%;
	padding-right:2%;
}
#ajax-form input[type="text"], textarea{
	padding-left:2%;
	padding-right:2%;
}
	  

/* #footer
================================================== */


#footer{
	position: relative; 
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
	padding-top:50px;
	padding-bottom:50px;
	background:#505050;
	z-index:2;
}
#footer p{
	text-align:center;
	font-size:12px;
	color:#f5f5f5;
}
.social-footer{ 
	position:relative;
	margin:0 auto;
	width:100%;
	text-align:center;
	z-index:1002;
	height:30px;
}
.footer-social li {
    padding:0; 
    list-style: none;
	text-align:center; 
	width:30px;
    display: inline-block;
	cursor:pointer;
	margin-left:2px;
}

.footer-social li.icon-footer a {
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 30px;
	width:30px;
	color: #f5f5f5; 
	margin:0;
	padding:0;
	-webkit-transition : all 0.2s ease-out;
	-moz-transition : all 0.2s ease-out;
	-o-transition :all 0.2s ease-out;
	transition : all 0.2s ease-out;
}
.footer-social li:hover.icon-footer a{
	color: #000; 
}



/* #Media Queries
================================================== */


@media only screen and (min-width: 960px) and (max-width: 1200px) {
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.logo{
	background-size:80px 80px;
	width:80px;
	margin-left:-40px;
	top:40px;
	height:80px;
}
.social-top{ 
	margin-top:-140px;
	margin-left:-370px;
}
.home-text {
	width:760px;
	margin-left:-380px;
}
.prev {
	top:auto;
	bottom:20px;
	margin-top:0px;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:30px 30px;
	width:30px;
	height:30px;
}
.next {
	top:auto;
	bottom:20px;
	margin-top:0px;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:30px 30px;
	width:30px;
	height:30px;
}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.logo{
	background-size:80px 80px;
	width:80px;
	margin-left:-40px;
	top:40px;
	height:80px;
}
.social-top{ 
	top:50%;
	margin-top:-140px;
	left:50%;
	margin-left:-220px;
}
.home-text {
	width:460px;
	margin-left:-230px;
	padding-top:14px;
	margin-top:-120px;
	height:155px;
}

.home-text h1 {
	font-size: 30px; 
	line-height:30px;
}
.home-text h2 {
	font-size: 16px; 
	line-height:16px;
	padding-top:14px;
}

.link-home {
	margin-top:40px;
}
.prev {
	top:auto;
	bottom:20px;
	margin-top:0px;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:30px 30px;
	width:30px;
	height:30px;
}
.next {
	top:auto;
	bottom:20px;
	margin-top:0px;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:30px 30px;
	width:30px;
	height:30px;
}
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
.logo{
	background-size:80px 80px;
	width:80px;
	margin-left:-40px;
	top:40px;
	height:80px;
}
.social-top{ 
	top:50%;
	margin-top:-140px;
	left:50%;
	margin-left:-140px;
}
.home-text {
	width:300px;
	margin-left:-150px;
	padding-top:30px;
	margin-top:-120px;
	height:160px;
}

.home-text h1 {
	font-size: 20px; 
	line-height:20px;
}
.home-text h2 {
	font-size: 16px; 
	line-height:16px;
	padding-top:14px;
}

.link-home {
	margin-top:10px;
}	
.prev {
	top:auto;
	bottom:20px;
	margin-top:0px;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:30px 30px;
	width:30px;
	height:30px;
}
.next {
	top:auto;
	bottom:20px;
	margin-top:0px;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:30px 30px;
	width:30px;
	height:30px;
}
}

@media only screen and (max-width: 319px) {	
.logo{
	background-size:80px 80px;
	width:80px;
	margin-left:-40px;
	top:40px;
	height:80px;
}
.social-top{ 
	top:50%;
	margin-top:-140px;
	left:50%;
	margin-left:-140px;
}
.home-text {
	width:200px;
	margin-left:-150px;
	padding-top:30px;
	margin-top:-120px;
	height:160px;
}

.home-text h1 {
	font-size: 20px; 
	line-height:20px;
}
.home-text h2 {
	font-size: 16px; 
	line-height:16px;
	padding-top:14px;
}

.link-home {
	margin-top:10px;
}	
.prev {
	top:auto;
	bottom:20px;
	margin-top:0px;
	background:url('../images/arrow-left.png') no-repeat center center;
	background-size:30px 30px;
	width:30px;
	height:30px;
}
.next {
	top:auto;
	bottom:20px;
	margin-top:0px;
	background:url('../images/arrow-right.png') no-repeat center center;
	background-size:30px 30px;
	width:30px;
	height:30px;
}
}




/* #Font-Face
================================================== */





@font-face {
    font-family: 'OpenSans-Light-webfont';
    src: url('font/OpenSans-Light-webfont.eot');
    src: url('font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/OpenSans-Light-webfont.woff') format('woff'),
         url('font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('font/OpenSans-Light-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}






